

.container {
  font-family: "Lato", sans-serif;
  color: #2d3c49;
}


.affix {
    top: 20px;
    z-index: 9999 !important;
}


.sidenav {
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #800000;
}

.nav-title {

    font-family: "Lato", sans-serif;
    color: #FFFFFF;
}

#map {
  z-index: -4;
  bottom:0px;
  left: 0px;
  position: absolute;
  right: 0px;
  margin: 0px;
  top: 0px;

}
